---
import Layout from '../layouts/Base.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	image="/blog-placeholder-about.jpg"
>
	<h1 class="title">About</h1>
	<p>
		I'm Jimmy. I'm a Cloud security engineer, that focuses on infrastructure and securing organizations to ensure 
		a more secure and safe cyberworld. 
		
	</p>

	<h2 class="title mt-4">Here are some of my latest certs:</h2>
	<div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="d0d0e4e0-d14c-4394-b0b2-55aa1cfee361" data-share-badge-host="https://www.credly.com"></div><script type="text/javascript" async src="//cdn.credly.com/assets/utilities/embed.js"></script>
	<div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="5bb269cc-03c6-43fa-89cc-88034262076a" data-share-badge-host="https://www.credly.com"></div><script type="text/javascript" async src="//cdn.credly.com/assets/utilities/embed.js"></script>	
	<p class="mt-4">
		<div>
			Credits:
			This Astro theme was built by Amy Dang
			<a 
				class="cody-link" 
				href="https://astro-theme-cody.netlify.app/"
				target="_blank"
				rel="noopener noreferrer"
			>Astro Theme Cody</a>

			-
			Which was based on two other themes:
			<a 
				class="cody-link" 
				href="https://astro-theme-cactus.netlify.app"
				target="_blank"
				rel="noopener noreferrer"
			>Astro Cactus</a>
			and
			<a 
				class="cody-link" 
				target="_blank"
				rel="noopener noreferrer"
				href="https://risotto.joeroe.io"
			>Risotto</a>.
		</div>
	</p>
</Layout>

