---
import BaseLayout from '../layouts/Base.astro';
import PostPreview from "@/components/blog/PostPreviewB";
import SocialMediaLinks from "@/components/SocialMediaLinks";
import { getAllPosts, sortMDByDate, sortMDByPinned } from "@/utils";

const MAX_POSTS = 10;
const allPosts = await getAllPosts();
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);
const allPostsByPinned = sortMDByPinned(allPostsByDate);

const tech: Array<{ title: string; desc: string; href: string }> = [
	{
		title: "Cloud Infrastructure",
		desc: "Terraform, AWS: EC2, S3, Route53, Lambda, ElastiCache | Azure: Static Web Apps, Sentinel, Log Analytics Workspaces",
		href: "https://astro.build",
	},
	{
		title: "Monitoring and Threat Detection",
		desc: "Splunk, Sentinel.",
		href: "https://docs.astro.build/en/guides/assets/",
	},
	{
		title: "Security Engineering",
		desc: "Network security, Cryptography, SSO, MFA, IAM, Okta, Python, KQL",
		href: "https://tailwindcss.com",
	},
	{
		title: "Incident Response and Disaster Recovery Planning",
		desc: "Playbooks, Recovery Planning, Incident Analysis.",
		href: "https://www.markdownguide.org/",
	},
	{
		title: "Governance, Risk, and Compliance",
		desc: "HIPPA, FERC, NERC, PCI/DSS, NIST 800-53",
		href: "https://mdxjs.com/",
	},
	{
		title: "DevSecOps",
		desc: "CI/CD, Github Actions, Jenkins, Ansible, Agile Processes.",
		href: "https://github.com/natemoo-re/astro-icon#readme",
	},
];

---

<BaseLayout title="Home">
	<section>
		<h1 class="title">Hi I'm Jimmy</h1>
		<p class="mb-4 sm:mb-8">
			I'm a Cloud, infrastructure, and cybersecurity engineer.
		</p>
		<div>
			<span>You can find me on: </span>
			<SocialMediaLinks/>
		</div>
	</section>

	<section class="mt-8 sm:mt-16">
		<h2 class="title">Posts</h2>
		<ul class="space-y-4 sm:space-y-2">
			{allPostsByPinned.map(p => <PostPreview post={p}/>)}
		</ul>
	</section>

	<section class="mt-16">
			<h2 class="title">Technologies</h2>
			<ul class="space-y-4 sm:space-y-2">
				{
					tech.map(({ href, title, desc }) => (
						<li>
							<a
								href={href}
								target="_blank"
								rel="noopener noreferrer"
								class="cody-link inline-block"
							>
								{title}
							</a>: 
							<p class="inline-block sm:mt-2">{desc}</p>
						</li>
					))
				}
			</ul>
		</section>
</BaseLayout>
